/*Begin here*/
.dropdown {
  position: relative;
  display: inline-block;
}
.btn__style {
  background: 0% 0% no-repeat padding-box;
  background: #00abe7 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 0px #00000029;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 10px 34px;
  color: white;
  font-weight: 600;
  transition: 0.3s ease-out;
}
.btn__style:hover {
  background: 0% 0% no-repeat padding-box;
  background: #7fd5f3 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 0px #00000029;
}
.btn__style:focus {
  background: 0% 0% no-repeat padding-box;
  border: 1px solid;
  background: #00abe7 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 0px #00000029;
  border: 1px solid #0070b4;
}
.btn__style:disabled {
  background: 0% 0% no-repeat padding-box;
  background: #bfeaf9 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 0px #00000029;
}
.dropdown__item {
  display: none;
  position: absolute;
  min-width: 250px;
  z-index: 1;
  background: 0% 0% no-repeat padding-box;
  border: 1px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #0000000d;
  border: 1px solid #dddddd;
  opacity: 1;
  border-radius: 10px;
  padding: 10px;
}
.dropdown__item a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 10px;
}
.dropdown__item a:hover {
  background: 0% 0% no-repeat padding-box;
  background: #eef1f4 0% 0% no-repeat padding-box;
}
.dropdown__item a:first-child {
  border-left: 4px solid #00abe7;
}
.dropdown:active .dropdown__item {
  display: block;
}
